.centertext {
    text-align: center;
}

#content { /*Eigenlijke tekst/artikels*/
    /* Oude chome, Android, Opera, IOS & safari syntax */
    display: -webkit-box;
    -webkit-box-orient: horizontal;

    /* Oude firefox syntax */
    display: -moz-box;
    -moz-box-orient: horizontal;

    /* Microsoft moet weer speciaal doen (IE) */
    display: -ms-flexbox;
    -ms-flex-orient: horizontal;

    /* Nieuwe chome syntax */
    display: -webkit-flex;
    -webkit-flex-direction: row;

    /* Nieuwste syntax 
    display: flex;*/
}

article {
    border: 1px solid black;
    max-height: 300px;
}
article[id="foto"] {
    max-width: 250px;
    padding: 10px 0px 10px 10px;
    margin-left: -20px;
}
article[id="details"] {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
article[id="overzicht"] {
    width: 225px;
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: left;
}
td:nth-child(1) {
    font-weight: bold;
}

