/*--- Dit css bestand wordt gebruikt om uitzonderlijke css toe te passen ---*/
#inhoud_omslag {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
#inhoud {
    width: 880px;
}

article h2 {
    margin-top: 5px;
}

article[id="foto"] {
    float: left;
    width: 200px;
    max-width: 200px;
    text-align: center;
    padding-top: 25px;
}
article[id="details"] {
    float: left;
    width: 380px;
    min-width: 380px;
    max-width: 380px;
    text-align: center;

    /* 
    the-echoplex.net/flexyboxes/?legacy=on&display=flex&flex-direction=row&flex-wrap=nowrap&justify-content=center&align-items=flex-start&align-content=stretch&order[]=0&flex-grow[]=0&flex-shrink[]=0&flex-basis[]=auto&align-self[]=auto&order[]=0&flex-grow[]=1&flex-shrink[]=1&flex-basis[]=auto&align-self[]=auto&order[]=0&flex-grow[]=0&flex-shrink[]=0&flex-basis[]=auto&align-self[]=auto
    */
    /* http://www.css-tricks.com/using-flexbox/ */
}
article[id="overzicht"] {
    float: left;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

/* ----------------------------
           TABELLEN 
   ----------------------------*/

table {
    width: 380px;
    min-width: 380px;
    margin-left: 5px;
    margin-right: 5px;
}

td {
    text-align: left;
}
td:nth-child(1) {
    font-weight: bold;
    width: 200px;
}
td:nth-child(2) {
    width: 230px;
    text-align: right;
}

article[id="details"] input[type="submit"] {
    margin-top: 10px;
    width: 380px;
}

/* ----------------------------
           OVERZICHT 
   ----------------------------*/

.menu {
    width: 200px;
    text-align: center;
    border: 2px solid #cbcbcb;
    border-bottom: none;
    margin-bottom: 0 !important;
    color: white;
    background-color: green;
}

ul {
    background-color: rgba(255, 255, 200, 0.2);
    height: 150px;
    margin-top: 0 !important;
    overflow-y: scroll;
    list-style: none;
    text-align: left;
    border: 2px solid #cbcbcb;
    border-top: none;
}
li {
    margin-bottom: 5px;
    padding-left: -30px;
    margin-left: -30px;
}
li:nth-child(even) {
    text-align: right;
    padding-right: 5px;
    margin-left: -40px;
    padding-left: -40px;
    border-bottom: 1px solid white;
}
.enkel_kolom li:nth-child(odd) {
    border-bottom: 1px solid white;
    margin-left: -40px;
    padding-left: 5px;
}
li:last-child {
    border-bottom: none;
}
li:first-child {
    padding-top: 3px;
}

.geen_lijst {
    background-color: rgba(255, 255, 200, 0.2);
    padding: 5px;
    border: 2px solid #cbcbcb;
    border-top: none;
}

/* inputvelden van formulieren in rechterkolom (festivaldetails aapassen) */
.inputveld {
    position: relative;
    min-width: 50px;
    width: fit-content;
    float: right;
    clear: right;
}